



<div class="wrapper ">
  <app-land-sidebar></app-land-sidebar>
   
  <!--  Mid section  -->

  <div class="main-panel">
  <!-- Navbar -->
  
     <app-land-nav></app-land-nav> 
  
  <!-- End Navbar -->
 <div class="content">
  <div class="container-fluid">
    <div class="card col-md-6 ml-auto mr-auto">
      <div class="card-header card-header-info">
        <h3 class="card-title">Notifications</h3>
        
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 ">
           
            <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span>This is a notification with close button.</span>
            </div>
            
          </div>
          
        </div>
      </div>
     
    </div>
  </div>
</div>
  
  <footer class="footer">
    <div class="container-fluid">
     
    </div>
  </footer>
</div>
   <!-- min end section -->        

 </div>
