



<div class="wrapper ">
    <app-land-sidebar></app-land-sidebar>
     
    <!--  Mid section  -->
  
    <div class="main-panel">
    <!-- Navbar -->
    
       <app-land-nav></app-land-nav> 
    
    <!-- End Navbar -->
    <div class="content">
    <div class="container-fluid">
  
      <div class="row">
  
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-info">
              <h4 class="card-title">Bank Information</h4>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                 <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Account Number </label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                 
                
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Account hoder name</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                <div class="col-md-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">IFSC Code</label>
                              <input type="email" class="form-control">
                            </div>
                          </div>
                 
                </div>
                
               
                <button type="submit" class="btn btn-info pull-right">Save</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
         
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-info">
              <h4 class="card-title">App MPESA Account details</h4>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                 <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Account Number </label>
                      <input type="password" class="form-control">
                    </div>
                  </div>
                 
                
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Account Holder Name</label>
                      <input type="password" class="form-control">
                    </div>
                  </div>
                
                 
                </div>
               
                <button type="submit" class="btn btn-info pull-right">Save</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
    
    <footer class="footer">
      <div class="container-fluid">
       
      </div>
    </footer>
  </div>
     <!-- min end section -->        
  
   </div>
  