



<div class="wrapper ">
  <app-tenant-sidebar></app-tenant-sidebar>
   
  <!--  Mid section  -->

  <div class="main-panel">
  <!-- Navbar -->
  
     <app-tenant-nav></app-tenant-nav> 
  
  <!-- End Navbar -->


  <div class="content bgWhite">
  <div class="container-fluid">
<div class="transactionPage">
  <div class="heading">
    <h3>Timeline</h3>
    
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="fullwidth">
		<h4 class="secheading">Comments :</h4>
        <div class="singleCommentDivMain">
			<div class="comment">
				<div class="commentImgDiv">
				  <img src="../assets/img/faces/avatar.jpg" class="img-fluid ">
				</div>
				<div class="commentTextDiv">
				  <h4> Amol Bedge </h4>
				  <p>this text for comment Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				 
				</div>
			</div>
			<div class="comment commentReply">
				 <div class="commentImgDiv">
					<img src="../assets/img/faces/avatar.jpg" class="img-fluid ">
				 </div>
				 <div class="commentTextDiv">
					<h4> Amol Bedge </h4>
					<p>this text for comment Lorem Ipsum is simply dummy text</p>
				 </div>
            </div>
        </div>
        <div class="fullwidth replyComment">
			<div class="">
				<div  class="form-group bmd-form-group is-filled">
					<label class="bmd-label-floating">comment</label>
					<input class="form-control ng-valid ng-touched ng-dirty" formcontrolname="address" type="text" ng-reflect-name="address">
					<i class="fa fa-paper-plane-o sendIcon" aria-hidden="true"></i>
				</div>
			</div>
		</div> 
        
      </div>
    </div>
    <div class="col-md-6">
      <div class="fullwidth">
      <h4 class="secheading">Notification :</h4>
        <div class="notificationMain">
          <div class="commentTextDiv NotificationInner">
            <h4> Amol Bedge </h4>
            <p>this text for comment Lorem Ipsum is simply dummy text</p>
            
          </div>
          <div class="commentTextDiv NotificationInner">
            <h4> Amol Bedge </h4>
            <p>this text for comment Lorem Ipsum is simply dummy text</p>
            
          </div>
          <div class="commentTextDiv NotificationInner">
            <h4> Amol Bedge </h4>
            <p>this text for comment Lorem Ipsum is simply dummy text</p>
            
          </div><div class="commentTextDiv NotificationInner">
            <h4> Amol Bedge </h4>
            <p>this text for comment Lorem Ipsum is simply dummy text</p>
            
          </div>
          <div class="commentTextDiv NotificationInner">
            <h4> Amol Bedge </h4>
            <p>this text for comment Lorem Ipsum is simply dummy text</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>

</div>
  
  <footer class="footer">
    <div class="container-fluid">
     
    </div>
  </footer>
</div>
   <!-- min end section -->        

 </div>
