



<div class="wrapper ">
    <app-land-sidebar></app-land-sidebar>
     
    <!--  Mid section  -->
  
    <div class="main-panel">
    <!-- Navbar -->
    
       <app-land-nav></app-land-nav> 
    
    <!-- End Navbar -->
    <div class="content">
    <div class="container-fluid">
  
      <div class="row">
  
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-info">
              <h4 class="card-title">Bank Information</h4>
            </div>
            
          </div>
        </div>
         
        
      </div>
    </div>
  </div>
    
    <footer class="footer">
      <div class="container-fluid">
       
      </div>
    </footer>
  </div>
     <!-- min end section -->        
  
   </div>
  