



<div class="wrapper ">
  <app-land-sidebar></app-land-sidebar>
   
  <!--  Mid section  -->

  <div class="main-panel">
  <!-- Navbar -->
  
     <app-land-nav></app-land-nav> 
  
  <!-- End Navbar -->

  <div class="content">
        <div class="container-fluid">
			<div class="transactionPage">
				<div class="heading">
					<h3>Recurring transaction</h3>
					
				</div>
				
				<div class="tenantListBtn fullwidth paddB30">
					<div class="searchDiv pull-left">
						 <div class="form-group">
                          <label class="bmd-label-floating">Filters</label>
                          <input type="text" class="form-control">
                        </div>
					</div>
					<div class="pull-right ListTenantbtnDiv">
						<button type="submit" class="btn btn-primary pull-right">New</button>
						<button type="submit" class="btn btn-primary pull-right">Export</button>
					</div>
				</div>
				
				<div class="tableDIv">
					<div class="card">
                  <!-- <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
                      <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title ">Simple Table</h4>
                  </div> -->
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <tr>
							<th> Name</th>
							<th> Property</th>
							<th>Tenant</th>
							<th>Types</th>
							<th>Vender</th>
							<th>Start Date</th>
							<th>Previus</th>
							<th>Next</th>
							<th>Amount</th>
							
						 </tr>
						</thead>
                        <tbody>
                          <tr>
                            <td>Amol</td>
                            <td>Dakota </td>
                            <td> Niger</td>
                            <td> Oud-Turnhout </td>
                            <td>dfgdgd</td>
							<td> 12/12/18</td>
                            <td>10/12/18</td>
                            <td> 18/1/19</td>
                            <td> $36,738</td>
                          </tr>
						  <tr>
                            <td>Amol</td>
                            <td>Dakota </td>
                            <td> Niger</td>
                            <td> Oud-Turnhout </td>
                            <td>dfgdgd</td>
							<td> 12/12/18</td>
                            <td>10/12/18</td>
                            <td> 18/1/19</td>
                            <td> $36,738</td>
                          </tr>
                          <tr>
                            <td>Amol</td>
                            <td>Dakota </td>
                            <td> Niger</td>
                            <td> Oud-Turnhout </td>
                            <td>dfgdgd</td>
							<td> 12/12/18</td>
                            <td>10/12/18</td>
                            <td> 18/1/19</td>
                            <td> $36,738</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="card-body">
					<nav aria-label="Page navigation example">
                     
                      <ul class="pagination pull-right">
                        <li class="page-item">
                          <a class="page-link" href="#link" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                          </a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#link">1</a>
                        </li>
                        <li class="page-item active">
                          <a class="page-link" href="#link">2</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#link">3</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#link" aria-label="Next">
                            <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                          </a>
                        </li>
                      </ul>
                    </nav>
				</div>
				</div>
			</div>
        </div>
		
      </div>
  
  <footer class="footer">
    <div class="container-fluid">
     
    </div>
  </footer>
</div>
   <!-- min end section -->        

 </div>
