.navbar.navbar-transparent {
    background-color: #f2f4f6 !important;
    box-shadow: none;
}
.notificationIcon{
    font-size: 25px;
}
.profileImg {
    max-height: 40px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.newNavBar{
    position: fixed;
    width: calc(100% - 260px);
    top: 0;
}
.navbar {
    padding: 5px 0;
    margin-bottom: 0;
}