<nav class="navbar navbar-expand-lg navbar-transparent  fixed-top newNavBar ">
  <div class="container-fluid">
    <div class="navbar-wrapper">
     
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
     
      <ul class="navbar-nav pull-right">
       
        <li class="nav-item dropdown">
          <a class="nav-link"  id="navbarDropdownMenuLink" routerLink="/tenant-notification">
            <i class="material-icons notificationIcon">notifications</i>
            <span class="notification">{{notification?.length}}</span>
            <p class="d-lg-none d-md-block">
              Some Actions
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="newMsg.redirect_url" *ngFor="let newMsg of notification">{{newMsg.title}}</a>
            <!-- <a class="dropdown-item" href="#">You have 5 new tasks</a>
            <a class="dropdown-item" href="#">You're now friend with Andrew</a>
            <a class="dropdown-item" href="#">Another Notification</a>
            <a class="dropdown-item" href="#">Another One</a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i  *ngIf="profilephoto == null" class="material-icons">person</i>
            <img   *ngIf="profilephoto !=null" class="profileImg" src="{{url}}{{profilephoto}}">
            <p class="d-lg-none d-md-block">
              Account
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
            <p class="dropdown-item dropMenu" routerLink="/tenant-profile"  >Profile</p>
            <p class="dropdown-item dropMenu"   routerLink="/admin-profile"  >Settings</p>
            
            <p class="dropdown-item dropMenu" (click)="logout()">Log out</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>