



<div class="wrapper ">
  <app-tenant-sidebar></app-tenant-sidebar>
   
  <!--  Mid section  -->

  <div class="main-panel">
  <!-- Navbar -->
  
  <app-tenant-nav></app-tenant-nav> 
  
  <!-- End Navbar -->

  <div class="content bgWhite">
    <div class="container-fluid">

  <div class="loginMainDiv tenantHistory">
        <div class="loginInner">
          <div class="card">
            <div class="card-header card-header-info">
              <h4 class="card-title pull-left">Files</h4>
     
             <!--  <p class="card-category">Complete your profile</p> -->
            </div>
            <div class="card-body">
      <div class="full-width text-right">
        <button class="btn btn-info">Add document</button>
      </div>
      <div class="full-width paymentDetail">
        
         <div class="card-body">
          <div class="table-responsive text-center">
            <table class="table">
            <thead class=" text-info">
              <tr>
               <th>Sr_No</th> 
              <th> Document name </th>
              <th> Uploaded Date </th>
              <th> Action </th>
              
             </tr>
            </thead>
            <tbody>
              <tr>
               <td>1</td> 
              <td>file</td>
              <td>12/12/2018 </td>
              <td>
                <div class="fullwidth text-center">
                  <i class="fa fa-eye text-success" aria-hidden="true"></i>
                  <i class="fa fa-download text-info" aria-hidden="true"></i>
                </div> 
              </td>
              </tr>
             <tr>
                <td>2</td> 
              <td>file</td>
              <td>12/12/2018 </td>
              <td>
                <div class="fullwidth text-center">
                  <i class="fa fa-eye text-success" aria-hidden="true"></i>
                  <i class="fa fa-download text-info" aria-hidden="true"></i>
                </div> 
              </td>
              </tr>
             
            
            </tbody>
            </table>
          </div>
          
          </div>
        
      </div>
            </div>
          </div>
        </div>
      </div>




    </div>

  </div>
  
  <footer class="footer">
    <div class="container-fluid">
     
    </div>
  </footer>
</div>
   <!-- min end section -->        

 </div>
