
    <div class="loginInner col-md-12 mar0">
        <div class="tenantName">
            <h4> Hi {{unitData?.userName}}</h4>
            <p>  {{unitData?.propertyName}}/{{unitData?.flatHoseNo}}</p>
         </div>
         <ul class="nav nav-list marTB20 borB">
            <li class="nav-item">
               <a class="nav-link "  routerLink="/my-house" routerLinkActive="active">Transaction</a>
            </li>
            <li class="nav-item" >
               <a class="nav-link" routerLink="/tenant-lease" routerLinkActive="active" >Lease Details</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="/tenant-files"  routerLinkActive="active" >Files </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="/tenant-history"  routerLinkActive="active">History</a>
            </li>
            <li class="nav-item">
                  <a class="nav-link"  routerLink="/tenant-notice"  routerLinkActive="active">Notice</a>
               </li>
            <li class="nav-item">
               <a class="nav-link"  routerLink="/tenant-request"  routerLinkActive="active">Service Requests</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="/tenant-contact"  routerLinkActive="active">Contact landlord</a>
            </li>
         </ul>
         
        
         
        