



<div class="wrapper ">
  <app-tenant-sidebar></app-tenant-sidebar>
   
  <!--  Mid section  -->

  <div class="main-panel">
  <!-- Navbar -->
  
     <app-tenant-nav></app-tenant-nav> 
  
  <!-- End Navbar -->


  <div class="content bgWhite">
    <div class="container-fluid">

  <div class="loginMainDiv">
        <div class="loginInner">
          <div class="card">
            <div class="card-header card-header-info">
              <h4 class="card-title pull-left">Payment Details</h4>
     
             <!--  <p class="card-category">Complete your profile</p> -->
            </div>
            <div class="card-body">
      <div class="full-width text-right">
        <button class="btn btn-info">Add</button>
      </div>
      <div class="full-width paymentDetail">
        <div class="row">
          <div class="col-sm-6">
            <!-- <h4><i class="fa fa-cc-visa" aria-hidden="true"></i> VISA</h4> -->
            <div class="form-check">
              <label class="form-check-label">
              <input class="form-check-input" type="radio" name="exampleRadios" value="option2" checked=""> <i class="fa fa-cc-visa" aria-hidden="true"></i> VISA
              <span class="circle">
                <span class="check"></span>
              </span>
              </label>
            </div>
            
          </div>
          <div class="col-sm-6">
            <h4> 1464646 </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <!-- <h4><i class="fa fa-mobile" aria-hidden="true"></i> M Pesa</h4> -->
            <div class="form-check">
              <label class="form-check-label">
              <input class="form-check-input" type="radio" name="exampleRadios" value="option2" checked=""> <i class="fa fa-mobile" aria-hidden="true"></i> M Pesa
              <span class="circle">
                <span class="check"></span>
              </span>
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <h4> 1464646 </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <h4>Automatically pay my rent</h4>
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        
      </div>
            </div>
          </div>
        </div>
      </div>




    </div>

  </div>  
  <footer class="footer">
    <div class="container-fluid">
     
    </div>
  </footer>
</div>
   <!-- min end section -->        

 </div>
