

  <div class="wrapper ">
    <!-- <app-sidebar></app-sidebar> -->
      
     <!--  Mid section  -->
  
     
     <!-- Navbar -->
     
        <!--   <app-nav></app-nav>  --> 
     
     <!-- End Navbar -->
     <div class="content">
       <div class="container-fluid">
         <div class="loginMainDiv singlePage">
           <div class="loginInner">
             <div class="card">
               <div class="card-header card-header-info">
                 <h4 class="card-title">Change Password</h4>
                <!--  <p class="card-category">Complete your profile</p> -->
               </div>
               <div class="card-body">
                <form novalidate (ngSubmit)="changePass()" role="form" [formGroup]="forgotForm" autocomplete="off">   
                   <div class="row">
                     
                    
                     <div class="col-md-12">
                       <div class="form-group">
                         <label class="bmd-label-floating">New password</label>
                         <input type="password" class="form-control" name="password"  (input)="checkNewPwd($event.target.value)" formControlName="password" >
                         <div *ngIf="forgotForm.controls['password'].hasError('required')" class="error" > Enter new passwoed </div>
                       </div>
                     </div>

                     
                     <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">confirm password</label>
                        <input type="password" class="form-control" name="cpassword"  (input)="checkConformPwd($event.target.value)"  formControlName="cpassword" >
                        <div *ngIf="forgotForm.controls['cpassword'].hasError('required')" class="error" > Enter confirm passwoed </div>

                        <div *ngIf="conpass==false " class="error"> Password and Conform Password  must be same ...!  </div>
                      </div>
                    </div>
                     
                    <div class="col-md-12" >
                      <!-- existEmailAndphone -->
                      

                      <div class="alert alert-success" *ngIf="passwoedUpdated">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                              </button>
                              <span>
                                 Your passwoed successfully  Updated ..! <a routerLink="/login"> Login</a>
                              </span>
                         </div>
                     </div>
                      <div class=" paddLR15 fullwidth">
                    
                        <div class="  pull-left">
                       <div class="">
                        <a routerLink="/signup-landloard">  Sign up as Landlord</a>
                     </div>  
                       <div class="">
                          <a routerLink="/signup-tenant">  Sign up as Tenant</a>
                       </div>
                       
                      </div>
  
                      <div class=" pull-right btnDiv">
                        <button type="submit" class="btn btn-info pull-right">Submit </button>
                        
                         <a routerLink="/login"> 
                          If you already have an account with us please login</a>
                       </div> 
                   </div>
                  </div>
                   
                  
                   <div class="clearfix"></div>
                 </form>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <footer class="footer">
       <div class="container-fluid">
        
       </div>
     </footer>
  
      <!-- min end section -->        
  
    </div>
  